<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Conect</title>
    <script src="script.js"></script>
    <link rel="stylesheet" href="css/stylePC.css">
    <script src="https://kit.fontawesome.com/ee6cc5f149.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="script.js"></script>

</head>
<body>
  <header>
    <div class="logo">
      <img src="img/logo.png" alt="Edutin Academy">
    </div>
    <nav>
      <ul class="nav-menu">
        <li><a href="#">Cursos</a></li>
        <li><input type="text" placeholder="Buscar curso"></li>
        <li class="nav-right">
          <a href="#">Sobre nosotros</a>
          <ul class="submenu">
            <li><a href="#">Sobre Learn Connect</a></li>
            <li><a href="http://localhost:8080/historia">Nuestra historia</a></li>
            <li><a href="#">Campus virtual</a></li>
            <li><a href="#">Contenidos académicos</a></li>
            <li><a href="#">Programa de Afiliados</a></li>
            <li><a href="#">Empleos</a></li>
          </ul>
        </li>
        <li><a href="#">Certificados</a></li>
        <li><a href="Registro.html">Acceder</a></li>
        <li><a href="http://localhost:8080/registro">Crear cuenta</a></li>
      </ul>
    </nav>
  </header>
    <main>
      <section class="banner">
        <div class="contenido-izquierda">
          <h1>Estudia gratis y certifícate con Python Connect</h1>
          <h1>Python Connect</h1>
          <br>
          <a href="http://localhost:8080/cursos" style="background-color: darkorange; padding: 15px; border-radius: 20%; margin-top: 5px; font-weight: bold;" >Comenzar cursos</a>
          <br>
          <br>
          <p>*Sin datos de tarjetas y sin llamadas de ventas.</p>
        </div>
        <div class="imagen-derecha">
          <img src="img/imagen.png" alt="Imagen de fondo">

        </div>
      </section>
      <div class="section">
        <div class="feature">
          <div class="feature-image">
            <img src="img/imagen1.png" alt="Imagen 1">
          </div>
          <div class="feature-text">
            <h3>Inscríbete al curso de tu interés</h3>
            <p>Todos los cursos son de acceso gratis, pero solo puedes aprender desde cualquier lugar del mundo utilizando un dispositivo conectado a internet.</p>
          </div>
        </div>
      
        <div class="feature">
          <div class="feature-image">
            <img src="img/imagen2.png" alt="Imagen 2">
          </div>
          <div class="feature-text">
            <h3>Aprende de forma práctica</h3>
            <p>Los cursos incluyen lecturas, videos, proyectos y actividades de lo que más que te ayudarán a crecer en práctica tu aprendizaje.</p>
          </div>
        </div>
      
        <div class="feature">
          <div class="feature-image">
            <img src="img/imagen3.png" alt="Imagen 3">
          </div>
          <div class="feature-text">
            <h3>Recibe y ofrece ayuda</h3>
            <p>Cada curso cuenta con su propia comunidad de aprendizaje, donde en tiempo de vida y apoyo. Formulen y respondan preguntas al instante.</p>
          </div>
        </div>
      
        <div class="feature">
          <div class="feature-image">
            <img src="img/imagen4.png" alt="Imagen 4">
          </div>
          <div class="feature-text">
            <h3>Obtén un certificado de estudios</h3>
            <p>Los cursos gratis también incluyen la opción de obtener un certificado de estudios verificable a nivel internacional por un precio asequible. Más información.</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
        <div class="row">
            <div class ="col">
                <p>
                    Luis Felipe Barrera Cervantes
                </p>                
            </div>
            <div class="col">
                <h3>Officina</h3>
                <p> Av. Reforma</p>
                <p>La ranchería, Tlahuelilpan</p>
                <p>Hidalgo, C.P. 42700, México</p>
                <p class="email-id"> estl@uaeh.edu.mx</p>
                <h4>+52 - 7721556368</h4>
            </div>
            <div class="col">
                <h3>Links</h3>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Futuro</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
                <div class="col">
                    <h3>Nuevo Escrito</h3>
                    <form>
                        <i class="fa-solid fa-envelope" style="color: #63E6BE;"></i>
                        <input type="e-mail" placeholder="Ingresa tu email" required>
                        <button type="submit"><i class="fa-solid fa-arrow-right" style="color: #63E6BE;"></i></button>
                    </form>
                </div>
            </div>
         </footer>
  </body>
    

</html>